<!doctype html>
<html class="no-js" lang="en-us" ng-app="linkBuilder">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Social Link Builder</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.angularjs.org/1.3.0-rc.1/angular.min.js"></script>
        <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
      <div class="container" ng-controller="mainController">
        <div class="row">
          <div class="col-sm-12">
            <h1>Social Link Builder</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <label>URL</label>
            <form name="urlForm">
              <input type="url" name="input" ng-model="url" required class="col-xs-12">
              <span class="error" ng-show="urlForm.input.$error.required">URL is required</span>
              <span class="error" ng-show="urlForm.input.$error.url">Not valid URL (http:// is required)</span>
            </form>
            <!-- <textarea class="form-control" rows="3" ng-model="url" required></textarea> -->
          </div>
          <div class="col-sm-6">
            <label>UTM</label>
            <div class="form-group">
              <label>Campaign:</label>
              <input type="text" ng-model="utm.campaign" id="utmCampaign"></input>
            </div>
            <div class="form-group">
              <label>Medium:</label>
              <input type="text" ng-model="utm.medium"></input>
            </div>
          </div>
        </div>
        <hr />
        <div class="row">
          <div class="col-sm-12">
            <h3>Twitter</h3>    
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">  
            <div class="form-group">
              <label>Copy</label>
              <textarea class="form-control" rows="3" ng-model="twitterCopy"/></textarea>
            </div>
            <div class="form-group">
              <label>Twitter UTM Source</label><br />
              <input type="text" ng-model="utm.twitterSource" class="col-xs-12"></input>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Tweet Url:</label>
            <div class="url-return" ng-class="{ 'tweet-over': tweetCopy.length > 117 }"><a href="{{ twitterReturnUrl() }}" target="_blank">{{ twitterReturnUrl() }}</a></div>
            <div>Characters remaining: {{ 117 - twitterCopy.length }}</div>
            <div class="alert warning">
              <div ng-show="tweetCopy.length > 117">Tweet is over 140 characters!</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Facebook</h3>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Facebook UTM Source</label><br />
              <input type="text" ng-model="utm.facebookSource" class="col-xs-12"></input>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Facebook Url:</label>
            <div class="url-return"><a href="{{ facebookReturnUrl() }}" target="_blank">{{ facebookReturnUrl() }}</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Linkedin</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Title:</label>
              <textarea class="form-control" rows="3" ng-model="linkedin.title"/></textarea>
            </div>
            <div class="form-group">
              <label>Summary:</label>
              <textarea class="form-control" rows="3" ng-model="linkedin.summary"/></textarea>
            </div>
            <div class="form-group">
              <label>Linkedin UTM Source</label><br />
              <input type="text" ng-model="utm.linkedinSource" class="col-xs-12"></input>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Linkedin Url:</label>
            <div class="url-return"><a href="{{ linkedinReturnUrl() }}" target="_blank">{{ linkedinReturnUrl() }}</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <h3>Google Plus</h3>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Google Plus UTM Source</label><br />
              <input type="text" ng-model="utm.gplusSource" class="col-xs-12"></input>
            </div>
          </div>
          <div class="col-sm-6">
            <label>Google Plus Url:</label>
            <div class="url-return"><a href="{{ gplusReturnUrl() }}" target="_blank">{{ gplusReturnUrl() }}</a></div>
          </div>
        </div>
      </div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="js/main.js"></script>
    </body>
</html>