body {
	padding-bottom: 25px;
}

a {
	color: #337ab7;;
}

.url-return {
	word-break: break-all;
}

.tweet-over {
	color: red
}

.url-input {
	text-align: center;
}

.utmBuilder .floating-label {
	margin-top: 1em;
}

.utmBuilder .panel-heading {
	margin-top: 1em;
}

.utmBuilder button {
	margin-top: 2em;
}

.panel {
	background: #EEEEEE;
	word-break: break-all;	
}

.list-group-item {
	background-color: #E4E7E7;
}