body {
	padding-bottom: 25px;
}

a {
	color: #337ab7;;
}

.url-return {
	word-break: break-all;
}

.tweet-over {
	color: red
}

.url-input {
	text-align: center;
}

.form-control-wrapper .ng-invalid .material-input:before {
	background-color: red;
}

.form-control-wrapper .ng-invalid.form-control:focus ~ .material-input:after, .form-control-wrapper .ng-invalid.form-control.focus ~ .material-input:after {
	background-color: red;
}