  <!doctype html>
  <html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Social Link Generator</title>
    <meta name="description" content="A small, simple tool to generate links for users to share your content on their Twitter, Facebook, Google+, and LinkedIn profiles. Also, add UTM codes to URLs for tracking campaigns.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />
    <!-- endbower -->
    <link rel="stylesheet" href="style.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
  </head>
  <body ng-app="linkBuilder">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53444933-3', 'auto');
  ga('send', 'pageview');

  </script>
    <section layout="row" flex>
      <md-content flex="" layout-padding="" class="main-content">
        <div ng-controller="topController">
          <i class="material-icons main-menu" md-component-id="right" hide-gt-md ng-click="openRightMenu()">menu</i>
        </div>
        <div ui-view ng-cloak></div>
      </md-content>

      <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-indigo">
          <h1 class="md-toolbar-tools"><a ui-sref="home">Social Link Builder</a></h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="navController">
          <ul>
            <li><a ui-sref="linkBuilder" ui-sref-active="active" >Link Builder</a></li>
            <li><a ui-sref="utmBuilder" ui-sref-active="active" >UTM Builder</a></li>
            <li ng-show="authData"><a ui-sref="urlShortener" ui-sref-active="active" >URL Shortener</a></li>
            <li ng-hide="authData"><a ui-sref="login" ui-sref-active="active">Login</a></li>
            <li ng-show="authData"><a href ng-click="logout()">Logout</a></li>
          </ul>
        </md-content>
      </md-sidenav>
    </section>

  <!-- bower:js -->
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-animate/angular-animate.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower_components/angular-touch/angular-touch.js"></script>
  <script src="bower_components/firebase/firebase.js"></script>
  <script src="bower_components/angularfire/dist/angularfire.js"></script>
  <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
  <script src="bower_components/angular-aria/angular-aria.js"></script>
  <script src="bower_components/angular-material/angular-material.js"></script>
  <script src="bower_components/angular-messages/angular-messages.js"></script>
  <!-- endbower -->

  <script src="js/main.js"></script>
  <script src="js/controllers/socialLinkController.js"></script>
  <script src="js/controllers/utmController.js"></script>
  <script src="js/controllers/authController.js"></script>
  <script src="js/controllers/navController.js"></script>
  <script src="js/controllers/topController.js"></script>
  <script src="js/controllers/urlShortenerController.js"></script>
  <script src="js/services/auth.service.js"></script>
</body>
</html>
