body {
	padding-bottom: 25px;
}

a {
	color: #337ab7;;
}

.url-return {
	word-break: break-all;
}

.tweet-over {
	color: red
}

.url-input {
	text-align: center;
}

.utmBuilder .floating-label {
	margin-top: 4em;
	margin-bottom: 1em;
}

.utmBuilder .panel-heading {
	margin-top: 4em;
}

.utmBuilder button {
	margin-top: 2em;
}

.panel {
	background: transparent;
	word-break: break-all;
}

.list-group-item {
	background-color: transparent;
}

.form-control-wrapper .material-input:before .invalid {
	background-color: red;
}

body {
	background-color: #F0F0F0;
}

.text-box {
	background-color: white;
	border-radius: 4px;
	padding: 2em;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.13);
}

.text-box input {
	margin-top: 1em;
}

.text-box button {
	margin-top: 2em;
}

.navbar-default .navbar-brand{
	color:rgba(255, 255, 255, 0.84);
}

.navbar-default .navbar-brand:hover {
	color:rgba(255, 255, 255, 0.84);
}

.alert-box {
	text-align: center;
}


/*Animation provided by https://github.com/daneden/animate.css*/
.animated {
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    transform: translate3d(-25px, 0, 0);
  }

  75% {
    transform: translate3d(10px, 0, 0);
  }

  90% {
    transform: translate3d(-5px, 0, 0);
  }

  100% {
    transform: none;
  }
}

.bounceInRight {
  animation-name: bounceInRight;
}

@media screen and (min-width: 768px) {
	.navbar .navbar-nav > li > a.active::after {
		content: '\25b2';
		color: #F0F0F0;
		bottom: -7px;
	  right: 44%;
	  position: absolute;
	}
}


input:-webkit-autofill {
	background-color: green;
}

input[label].url-input {
	text-align: center;
}