<div layout="row" class="text-center">
  <div flex>
    <h3>What would you like to share?</h3>
  </div>
</div>
<div layout="row">
  <div flex-gt-sm="40" flex-sm="90" flex-offset-gt-sm="30" flex-offset-sm="5">
    <form name="urlForm" class="form-control-wrapper">
      <md-input-container md-no-float>
        <input ng-model="slCtrl.url" type="url" name="url" placeholder="URL" class="url-input" required>
        <div ng-messages="urlForm.url.$error" ng-if='urlForm.url.$dirty'>
          <div ng-message="required">Must be a valid URL</div>
        </div>
      </md-input-container>
    </form>
  </div>
</div>

<div layout="row">
  <div flex-offset="5" flex-sm="90" flex="40" flex-offset-sm="5" >
    <h3>Twitter</h3>
  </div>
</div>
<div layout="row" layout-sm="column" flex="95">
  <div flex flex-offset="5">
    <form name="twitterForm" class="text-box">
      <md-input-container class="md-block">
        <label>Tweet Text</label>
        <textarea rows="3" columns="1"ng-model="slCtrl.twitterCopy" md-maxlength="117" name="copy" /></textarea>
      </md-input-container>
    </form>
    <span ng-show="slCtrl.twitterCopy.length > 117">Tweet is too long!</span>
  </div>
  <div flex flex-offset="5">
    <div class="text-box">
      <div class="floating-label">Tweet Url:</div>
      <div class="url-return" ng-class="{ 'tweet-over': slCtrl.tweetCopy.length > 117 }"><a href="{{ slCtrl.twitterReturnUrl() }}" target="_blank" ng-hide="!slCtrl.url">{{ slCtrl.twitterReturnUrl() }}</a></div>
    </div>
  </div>
</div>



<div layout="row">
  <div flex-offset="5" flex-sm="90" flex="40" flex-offset-sm="5" >
    <h3>Linkedin</h3>
  </div>
</div>
<div layout="row" layout-sm="column" flex="95">
  <div flex flex-offset="5">
    <form class="text-box">
      <md-input-container class="md-block">
        <label>Title</label>
        <textarea columns="1" ng-model="slCtrl.linkedin.title"></textarea>
      </md-input-container>
      <md-input-container>
        <label>Summary</label>
        <textarea columns="1" ng-model="slCtrl.linkedin.summary"></textarea>
      </md-input-container>
    </form>
  </div>
  <div flex flex-offset="5">
    <div class="text-box">
      <div class="floating-label">LinkedIn Url:</div>
      <div class="url-return"><a href="{{ slCtrl.linkedinReturnUrl() }}" target="_blank" ng-hide="!slCtrl.url">{{ slCtrl.linkedinReturnUrl() }}</a></div>
    </div>
  </div>
</div>

<div layout="row" layout-sm="column" flex="95">
  <div flex flex-offset="5">
    <h3>Facebook</h3>
    <div class="text-box">
      <div class="floating-label">Facebook Url:</div>
      <div class="url-return"><a href="{{ slCtrl.facebookReturnUrl() }}" target="_blank" ng-hide="!slCtrl.url">{{ slCtrl.facebookReturnUrl() }}</a></div>
    </div>
  </div>
  <div flex flex-offset="5">
    <h3>Google Plus</h3>
    <div class="text-box">
      <div class="floating-label">Google Plus Url:</div>
      <div class="url-return"><a href="{{ slCtrl.gplusReturnUrl() }}" target="_blank" ng-hide="!slCtrl.url">{{ slCtrl.gplusReturnUrl() }}</a></div>
    </div>
  </div>
</div>

<div layout="row" class="text-center">
  <div flex>
    <h1>Social Link Generator</h1>
  </div>
</div>
<div layout="row">
  <div flex-gt-sm="80" flex-sm="90" flex-offset-gt-sm="10" flex-offset-sm="5">
    <div class="text-box">
      <p>As a marketer you want people to share your content, right? Right. You can use the tool above to generate links for your content that will allow users to share it to their social networks with a single click. Currently it creates links for Google Plus, Facebook, Twitter (with an option to add in custom Tweet text), and LinkedIn (with the option to add in a custom Title and Summary). All you have to do is fill in the URL and optional fields, copy the generated URLs and hyperlink them on your page.</p>
      <p>Suggested uses include: Blogs, Resource Landing Pages, and News Articles.</p>
      <p>Like this tool? Share it with all your marketing friends on social media!</p>
      <ul>
        <li><a href="http://twitter.com/intent/tweet?text=URL%20Toolbox%3A%20The%20greatest%20thing%20to%20happen%20to%20social%20link%20sharing%20since%20sliced%20ham.&url=https://urltoolbox.co/social-link-builderTwitter" target="_blank">Twitter</a></li>
        <li><a href="http://www.linkedin.com/shareArticle?mini=true&url=https://urltoolbox.co/social-link-builder&title=URL%20Toolbox&summary=The%20greatest%20thing%20to%20happen%20to%20social%20link%20sharing%20since%20sliced%20ham." target="_blank">LinkedIn</a></li>
        <li><a href="http://www.facebook.com/sharer/sharer.php?u=https://urltoolbox.co/social-link-builder" target="_blank">Facebook</a></li>
        <li><a href="https://plus.google.com/share?url=https://urltoolbox.co/social-link-builder" target="_blank">Google Plus</a></li>
      </ul>
    </div>
  </div>
</div>
