<div layout="row" class="homepage">
	<div flex-sm="90" flex-offset-sm="5" flex-offset-gt-sm="30" flex-gt-sm="40">
		<div class="text-box">
		<h3>Login</h3>
		<form ng-submit="authctrl.login()">
			<md-input-container md-no-float>
	    	<input type="email" placeholder="Email" ng-model="authctrl.user.email">
	    </md-input-container>
	    <md-input-container md-no-float>
	    	<input type="password" placeholder="Password" ng-model="authctrl.user.password">
	    </md-input-container>
	    <div ng-show="authctrl.error">
  			<span>{{ authctrl.error.message }}</span>
			</div>
		  <md-button class="md-raised md-primary" type="submit">Log In</md-button>
		</form>
		<p>Not a member? <a ui-sref="register">Click here</a> to register</p>
	</div>
</div>
