<div layout="row" class="text-center">
  <div flex>
    <h3>What would you like to shorten?</h3>
  </div>
</div>
<div layout="row">
  <div flex-gt-sm="40" flex-sm="90" flex-offset-gt-sm="30" flex-offset-sm="5">
    <form name="urlForm" ng-submit="shortCtrl.submitUrl()">
      <md-input-container md-no-float>
        <input type="url" placeholder="URL" name="input" ng-model="shortCtrl.fullUrl" required >
        <div ng-messages="urlForm.input.$error" role="alert" ng-if='urlForm.input.$dirty' multiple>
          <div ng-message="url">Not a valid URL</div>
          <div ng-message="required">URL is required</div>
        </div>
      </md-input-container>
      <md-button ng-class="shortCtrl.fullUrl === invalid ? 'md-raised md-warn' : 'md-raised md-primary';" type="submit">ADD</md-button>
    </form>
  </div>
</div>
<div layout="row">
  <div flex-gt-sm="60" flex-sm="90" flex-offset-gt-sm="20" flex-offset-sm="5">
    <div class="text-box">
      <div class="panel-heading">
        <ng-pluralize count="shortCtrl.urls.length"
                   when="{'0': 'URL',
                       'one': 'URL',
                       'other': 'URLs'}">
      </div>
      <ul class="panel-body">
        <li class="list-group-item bounceInRight animated" ng-repeat="url in shortCtrl.urls">{{url.longUrl}} - {{url.shortUrl}}</li>
      </ul>
    </div>
  </div>
</div>
