<div>
  <div class="mdl-grid">
    <div class="mdl-cell--12-col text-center">
      <h3>What would you like to share?</h3>
      <form name="urlForm" class="form-control-wrapper" ng-submit="shortCtrl.submitUrl()">
        <input type="url" class="url-input form-control empty" placeholder="URL" name="input" ng-model="shortCtrl.fullUrl" required >
        <span class="material-input"></span>
        <button ng-class="shortCtrl.fullUrl === invalid ? 'btn btn-danger' : 'btn btn-primary';">ADD</button>
      </form>
      <span class="error" ng-show="urlForm.input.$error.required">URL is required</span>
      <span class="error" ng-show="urlForm.input.$error.url">Not valid URL (http:// is required)</span>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <ng-pluralize count="shortCtrl.urls.length"
                 when="{'0': 'URL',
                     'one': 'URL',
                     'other': 'URLs'}">
    </div>
    <ul class="panel-body">
      <li class="list-group-item bounceInRight animated" ng-repeat="url in shortCtrl.urls">{{url.longUrl}} - {{url.shortUrl}}</li>
    </ul>
  </div>
</div>
