<div class="utmBuilder">
  <div class="row">
    <div class="col-sm-12 text-center">
      <h3>What would you like to share?</h3>
      <form name="urlForm" class="form-control-wrapper">
        <input type="url" class="url-input form-control" placeholder="URL" name="input" ng-model="utmctrl.url" required>
        <span class="material-input"></span>
      </form>
      <span class="error" ng-show="urlForm.input.$error.required">URL is required</span>
      <span class="error" ng-show="urlForm.input.$error.utmctrl.url">Not valid URL (http:// is required)</span>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <form ng-submit="utmctrl.submit()">
        <div class="floating-label">UTM Source</div>
        <input type="text" class="form-control" ng-model="utmctrl.utm.source"></input>

        <div class="floating-label">UTM Campaign</div>
        <input type="text" class="form-control" ng-model="utmctrl.utm.campaign"></input>

        <div class="floating-label">UTM Medium</div>
        <input type="text" class="form-control" ng-model="utmctrl.utm.medium"></input>

        <button ng-class="utmctrl.url === invalid ? 'btn btn-danger' : 'btn btn-primary';">ADD</button>
      </form>
    </div>
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ng-pluralize count="utmctrl.urls.length"
                     when="{'0': 'URL',
                         'one': 'URL',
                         'other': 'URLS'}">
          </ng-pluralize>
        </div>
        <ul class="panel-body">
          <li class="list-group-item" ng-repeat="url in utmctrl.urls track by $index" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">{{url}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>