<div class="utmBuilder">
  <div layout="row">
    <div flex class="text-center">
      <h3>What would you like to share?</h3>
    </div>
  </div>
  <div layout="row">
    <div flex-gt-sm="40" flex-sm="90" flex-offset-gt-sm="30" flex-offset-sm="5">
      <form name="urlForm">
        <md-input-container md-no-float>
          <input type="url" class="url-input" placeholder="URL" name="input" ng-model="utmctrl.url" required>  
        </md-input-container>
        <div ng-messages="urlForm.input.$error.required">
          <div ng-message="required">Must be valid URL</div>
        </div>
      </form>
    </div>
  </div>
  <div layout="row" layout-sm="column" flex="95">
    <div flex flex-offset="5">
      <form ng-submit="utmctrl.submit()" class="text-box">
        <md-input-container class="md-block">
          <label>UTM Source</label>
          <input type="text" ng-model="utmctrl.utm.source"></input>
        </md-input-container>
        <md-input-container>
          <label>UTM Campaign</label>
          <input type="text" ng-model="utmctrl.utm.campaign"></input>
        </md-input-container>
        <md-input-container>
          <label>UTM Medium</label>
          <input type="text" ng-model="utmctrl.utm.medium"></input>
        </md-input-container>
          <button ng-class="utmctrl.url === invalid ? 'btn btn-danger' : 'btn btn-primary';">ADD</button>
        </md-input-container>
      </form>
    </div>
    <div flex flex-offset="5">
      <div class="text-box">
        <md-list>
          <md-subheader><ng-pluralize count="utmctrl.urls.length"
                     when="{'0': 'URL',
                         'one': 'URL',
                         'other': 'URLS'}">
          </ng-pluralize></md-subheader>

          <div class="md-list-item">
            <li class="bounceInRight animated" ng-repeat="url in utmctrl.urls track by $index">{{url}}</li>
          </div>
        </md-list>
      </div>
    </div>
  </div>
</div>
