<div ng-controller="utmController" class="utmBuilder">
  <div class="mdl-grid">
    <div class="mdl-cell--12-col text-center">
      <h3>What would you like to share?</h3>
      <form name="urlForm" class="form-control-wrapper">
        <input type="url" class="url-input form-control" placeholder="URL" name="input" ng-model="url" required>
        <span class="material-input"></span>
      </form>
      <span class="error" ng-show="urlForm.input.$error.required">URL is required</span>
      <span class="error" ng-show="urlForm.input.$error.url">Not valid URL (http:// is required)</span>

    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-cell--6-col">
      <form ng-submit="submit()">
        <div class="floating-label">UTM Source</div>
        <input type="text" class="form-control" ng-model="utm.source"></input>

        <div class="floating-label">UTM Campaign</div>
        <input type="text" class="form-control" ng-model="utm.campaign"></input>

        <div class="floating-label">UTM Medium</div>
        <input type="text" class="form-control" ng-model="utm.medium"></input>

        <button ng-class="url === invalid ? 'btn btn-danger' : 'btn btn-primary';">ADD</button>
      </form>
    </div>
    <div class="mdl-cell--6-col">
      <div class="panel panel-default">
        <div class="panel-heading">
          <ng-pluralize count="utmUrls.length"
                     when="{'0': 'URL',
                         'one': 'URL',
                         'other': 'URLS'}">
          </ng-pluralize>
        </div>
        <ul class="panel-body">
          <li class="list-group-item" ng-repeat="url in utmUrls track by $index">{{url}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>