<div ng-controller="utmController">
  <div class="row">
    <div class="col-sm-6">
        <form name="urlForm" class="form-control-wrapper">
          <div class="floating-label">URL</div>
          <input type="url" class="url-input form-control empty" name="input" ng-model="url" required>
          <span class="material-input"></span>
        </form>
        <span class="error" ng-show="urlForm.input.$error.required">URL is required</span>
        <span class="error" ng-show="urlForm.input.$error.url">Not valid URL (http:// is required)</span>
      <div class="floating-label" style="margin-top: 20px">UTM Source</div>
      <input type="text" class="form-control" ng-model="utm.source"></input>
      <div>{{utm.source}}</div>

      <div class="floating-label" style="margin-top: 20px">UTM Campaign</div>
      <input type="text" class="form-control" ng-model="utm.campaign"></input>
      <div>{{utm.campaign}}</div>

      <div class="floating-label" style="margin-top: 20px">UTM Medium</div>
      <input type="text" class="form-control" ng-model="utm.medium"></input>
      <div>{{utm.medium}}</div>
      <button class="btn btn-primary" ng-click="buildUrls()">ADD</button>
    </div>
    <div class="col-sm-6">
      <ul ng-repeat="url in utmUrls">
        <li>{{url}}</li>
      </ul>
    </div>
  </div>
</div>